
@{
    Layout = null;
}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Yabancı Dil</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table">
            <thead>
                <tr>
                    <th>Dil</th>
                    <th>Dil Seviyesi</th>
                </tr>
            </thead>
            <tbody id="yabanciDilTablo">
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="yabanciDilModal" style="display: none;" aria-hidden="true" data-url='@Url.Action("YabanciDilModal","Modal")'>
</div>
<button type="button" class="btn btn-success" id="yabanciDilModal-lg">Deneyim Ekle</button>
<script>
    $("#yabanciDilModal-lg").on("click", function () {
        var url = $("#yabanciDilModal").data("url");
        $.get(url, function (data) {
            $("#yabanciDilModal").html(data).modal("show");
        });

    });
</script>