
@{
    Layout = null;
}
<div class="modal-dialog modal-lg">
    <div class="modal-content bg-light">
        <div class="modal-header">
            <h4 class="modal-title">Proje Ekleyin</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card-body">
                <div class="form-group">
                    <label for="inputName">Proje Adi</label>
                    <input value="" type="text" id="projeAdi" class="form-control">
                </div>
                <div class="form-group">
                    <label for="inputName">Proje Açıklaması</label>
                    <textarea type="text" id="projeAciklamasi" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputDescription">Proje Döküman Ekle (.Zip & .Rar)</label>
                <div class="col-lg-3">
                    <input type="file" name="yuklenecekPdf" />
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Sil</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" id="projeSave">Kaydet</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<script>
    $("#projeSave").on("click", function () {
        var veri = {
            "projeAdi": $('#projeAdi').val(),
            "projeAciklamasi": $('#projeAciklamasi').val(),
        };
        var tr = $("<tr></tr>").addClass("tablo");
        var td1 = $("<td></td>").text(veri.projeAdi).addClass("projeAdi");
        var td2 = $("<td></td>").text(veri.projeAciklamasi).addClass("projeAciklamasi");
        var tdPer = $("<td></td>").addClass("text-right py-0 align-middle");
        var div = $("<div></div>").addClass("btn-group btn-group-sm");
        var a1 = $("<a></a>").addClass("btn btn-info").on("click", function () {
            var url = $("#projeModal").data("url");
            $.get(url, function (data) {
                $("#projeModal").html(data);
                $("#projeAdi").val(veri.projeAdi);
                $("#projeAciklamasi").val(veri.projeAciklamasi);
                $("#projeModal").modal("show");
            });
            $(this).parents(".tablo").remove();
        });
        var i1 = $("<i></i>").addClass("fas fa-eye");
        var i2 = $("<i></i>").addClass("fas fa-trash");
        tr.append(td1);
        tr.append(td2);
        tr.append(tdPer);
        tdPer.append(div);
        div.append(a1);
        a1.append(i1);
        a1.append(i2);
        sayi++;
        $("#projeTablo").append(tr);

    });

</script>